// https://blog.prototypr.io/align-svg-icons-to-text-and-say-goodbye-to-font-icons-d44b3d7b26b4

.svg-icon {
  display: inline-flex;
  align-self: center;
  position: relative;
  height: 1em;
  width: 1em;
}


.svg-icon svg {
  height: 1em;
  width: 1em;
  fill: currentColor;
}


.svg-icon.svg-baseline svg {
  bottom: -0.14em;
  position: absolute;
}


.svg-icon--left {
  margin-right: 0.5em;
}
