{% extends "base.jinja" %}

{% block page_title %}Development Dashboard Index{% endblock page_title %}

{% block body %}
<h1>Dasher Development Dashboards</h1>

<ul>
  <li><a href="v/index.html">Edition dashboard</a>
  <li><a href="builds/index.html">Build dashboard</a>
</ul>

{% endblock body %}
