{% extends "base.jinja" %}

{% block page_title %}{{ product.title }}: LSST the Docs Editions{% endblock page_title %}
{% block page_description %}Edition dashboard for {{ product.published_url }}.{% endblock page_description %}

{% block body %}

<div class="dashboard-container">

  <header class="dashboard-header">
    <img class="dashboard-header__logo" src="{{ asset_dir }}/lsst_underline_logo.svg" alt="Large Synoptic Survey Telescope">
    {% if product.handle %}
      <span class="dashboard-header__handle">{{ product.handle }}</span>
    {% endif %}
    <h1 class="dashboard-header__product-name">{{ product.title }}</h1>
    <span class="dashboard-header__url"><a href="{{ product.published_url }}">{{ product.published_url }}</a></span>
    <ul class="dashboard-header__link-list">
      <li>GitHub: <a href="{{ product.doc_repo }}">{{ product.github_handle }}</a></li>
      <li>CI: <a href="{{ product.ci_url }}">{{ product.ci_platform_name }}</a></li>
    </ul>
  </header>


  {% if releases %}
  <section class="dashboard-section">
    <header class="dashboard-section__header">
      <h2 class="dashboard-section__title">Releases</h2>
    </header>

    <ul class="inventory-list">
      {% for item in releases %}
      <li>{% include "_edition_item.jinja" %}</li>
      {% endfor %}
    </ul>
  </section>
  {% endif %}

  {% if development_editions %}
  <section class="dashboard-section">
    <header class="dashboard-section__header">
      <h2 class="dashboard-section__title">Development editions</h2>
    </header>

    <ul class="inventory-list">
      {% for item in development_editions %}
      <li>{% include "_edition_item.jinja" %}</li>
      {% endfor %}
    </ul>
  </section>
  {% endif %}

</div>
{% endblock body %}
